<div class="card">
  <div class="card-header">
    Users
  </div>
  <div class="card-body">
    <table class='table table-striped' id="table1">
      <thead>
        <tr>
          <th>S.N.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% if(users.length> 0){
          myval = 0;
          users.forEach(function(user) {
          %>
          <tr>
            <td>
              <%= myval +=1 %>
            </td>
            <td>
              <%= user.firstName %> <%= user.lastName %> 
            </td>
            <td><%= user.email %></td>
            <td><%= user.role.role_name %></td>
            <td>
              <span class="badge bg-success">Active</span>
            </td>
          </tr>
          <% }) }%>
      </tbody>
    </table>
  </div>
</div>